.notification {
  position: absolute;
  position: absolute;
  right: 10px;
  padding: 10px 20px;
  color: black;
  border-radius: 0 0 8px 8px;
}

.alert {
  background-color: var(--alertColor);
}

.info {
  background-color: var(--infoColor);
}

.error {
  background-color: var(--errorColor);
}

.success {
  background-color: var(--successColor);
  color: white;
}
